---
import Layout from "../layouts/Layout.astro";
---

<Layout title="NeuroScan">
  <main>
    <div class="presentation">
      <h1>NeuroScan</h1>
      <p>
        NeuroScan is a tool for analyzing tumors based in <span>Computer Vision</span>, NeuroScan that
        allow analyzing tumors through a magnetic resonanse.
      </p>
    </div>
  </main>
</Layout>

<style>
  main {
    padding-top: 2.5rem;
    text-align: center;
  }

  .presentation {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 1.5rem;
  }

  .presentation {
    & h1 {
      font-size: 3rem;
      margin-bottom: 1rem;
    }
    & p {
      color: #d6d3d1;
      font-size: 18px;
    }
  }

  span {
    font-weight: bold;
  }
</style>
