---
interface Props {
  title: string;
}

const { title } = Astro.props;
import SingIn from "../components/SingIn.svelte";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <a class="logo" href="/">
        <picture>
          <img width="30" height="30" src="/logo.svg" alt="logo" />
        </picture>
      </a>
      <nav>
        <a target="_blank" href="https://github.com/adayair25">
          <picture>
            <img width="30" height="30" src="/github.svg" alt="github_logo" />
          </picture>
        </a>
        <SingIn client:load />
      </nav>
    </header>
    <slot />
  </body>
</html>
<style is:global>
  * {
    box-sizing: border-box;
    margin: 0;
  }
  html {
    font-family: system-ui, sans-serif;
    background: #0c0a09;
    color: #fafaf9;
  }

  header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #27272a;
    padding: 0.5rem;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .logo {
    display: flex;
    align-items: center;
  }
</style>
